@charset "utf-8";
html,body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 1100px;
}
h1 {
	text-align: center;
	margin: 0px;
}
#container {
	position: relative;
	min-height: 100%;
}
#login{
	font-size: 2em;
	display: table;
}a{
	line-height: 3;
}
