@charset "utf-8";
html,body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 1100px;
}
h1 {
	font-size: 4em;
	text-align: center;
	margin: 0px;
}
#container {
	position: relative;
	min-height: 100%;
}
#login{
	display: table;
	font-size: 2em;
	
	height: 150px;
	
}a{
	line-height: 3;
}
