@charset "utf-8";
body{
	background-color: #EEEEEE;
	z-index: 1;
	width: 100%;
	min-width: 1700px;
}
#header{
	min-width:  1500px;
}
h1{
	background-color: #232F3E;
	color: #FFFFFF;
	z-index: 2;
	font-size: 90px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 30px
}
#nav {
	background-color: #FFFFFF;
	z-index: 3;
}
#contents{
	background-color: #FFFFFF;
	min-height: 560px;
	border-style: solid;
	border-width: 1px; 
	min-width:  1500px;
}
#footer{
	background-color: #232F3E;
	color: #FFFFFF;
	z-index: 4;
	font-size: 20px;
	min-width:  1500px;
}
table{
	font-size: 20px;
}
a:link, a:visited, a:active {
  	color: blue;
	font-size: 20px;
}
a:hover{
	color: red;
}
p{
	font-size: 30px;
}