@charset "utf-8";
body{
	background-image: url("./gazou/003-subtle-light-pattern.jpg");
	/*background-size: 2000px 1100px;*/
	z-index: 1
	width: 100%;
	min-width: 1700px;
	min-height: 1100px;
}
#header{
	min-width: 1500px;
}
h1{
	background-color: #232F3E;
	color: #FFFFFF;
	z-index: 2;
	font-size: 90px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 30px
}
#nav {
	background-color: #FFFFFF;
	z-index: 3;
}
#contents{
	background-color: #FFFFFF;
	min-width:  1500px;
	min-height: 560px;
	border-style: solid;
	border-width: 1px; 
	display: table;
	
}
#footer{
	background-color: #232F3E;
	color: #FFFFFF;
	z-index: 4;
	font-size: 20px;
	min-width: 1500px;
}
table{
	font-size: 28px;
	border-style; solid;
	border-collapse: collapse;
	border: 1px solid #000000;
}
#b table td{
	border: 1px solid #000000;
}
 table th{
	background-color: #FAF0E6;
	border: 1px solid #000000;
}
#b table tr:nth-child(odd){
  background-color: #eee;
}

a:link, a:visited, a:active {
  	color: blue;
	font-size: 20px;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
p{
	font-size: 30px;
}